In [248]:
# Import and initialize libraries and data
#lsof -P | grep ':8888' | awk '{print $2}' | xargs kill -9

import pandas as pd
writer = pd.ExcelWriter('processed_agent_detail.xlsx')

In [249]:
df_cols = ['date','username','code','duration']
df = pd.read_csv('agent_detail.csv', header=1, usecols=[0,1,5,6], names=df_cols)

# Convert data types as needed

df['duration'] = pd.to_datetime(df.duration)

In [250]:
# Variables to compare against

short_break = pd.to_datetime('00:15:30')
long_break = pd.to_datetime('00:20:30')
unscheduled_picklist = pd.to_datetime('00:15:30')

In [251]:
# Adding the scheduled hours column

df['ten_hours_shift'] = 0 # those that have 8 hours shift
df.ten_hours_shift = df.username.map({'tstephens':1, 'gacevedonune':1})

In [252]:
# Reports

short_break_exception = df[(df.code == 'Break') & (df.duration > short_break) & (df.ten_hours_shift != 1)]
short_break_exception_export = short_break_exception.loc[:,['date','username','code','duration']]
short_break_exception_export['pretty_print'] = pd.to_datetime(short_break_exception_export.duration).dt.strftime("%H:%M:%S")
short_break_exception_export['excess'] = pd.to_datetime(short_break_exception_export.duration - short_break).dt.strftime("%H:%M:%S")
short_break_exception_export.to_excel(writer,'Short_Break')
short_break_exception_export.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>username</th>
      <th>code</th>
      <th>duration</th>
      <th>pretty_print</th>
      <th>excess</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>76</th>
      <td>2018-04-04</td>
      <td>apagangarcia</td>
      <td>Break</td>
      <td>2018-04-19 00:44:52</td>
      <td>00:44:52</td>
      <td>00:29:22</td>
    </tr>
    <tr>
      <th>98</th>
      <td>2018-04-09</td>
      <td>apagangarcia</td>
      <td>Break</td>
      <td>2018-04-19 00:26:57</td>
      <td>00:26:57</td>
      <td>00:11:27</td>
    </tr>
    <tr>
      <th>109</th>
      <td>2018-04-10</td>
      <td>apagangarcia</td>
      <td>Break</td>
      <td>2018-04-19 00:15:46</td>
      <td>00:15:46</td>
      <td>00:00:16</td>
    </tr>
    <tr>
      <th>188</th>
      <td>2018-04-05</td>
      <td>carmas</td>
      <td>Break</td>
      <td>2018-04-19 00:15:42</td>
      <td>00:15:42</td>
      <td>00:00:12</td>
    </tr>
    <tr>
      <th>194</th>
      <td>2018-04-05</td>
      <td>carmas</td>
      <td>Break</td>
      <td>2018-04-19 00:20:56</td>
      <td>00:20:56</td>
      <td>00:05:26</td>
    </tr>
  </tbody>
</table>
</div>

In [253]:
% matplotlib inline
#short_break_exception.username.value_counts().plot(kind='bar')

In [254]:
long_break_exception = df[(df.code == 'Break') & (df.duration > long_break) & (df.ten_hours_shift == 1)]
long_break_exception.loc[:,['date','username','code','duration']].to_excel(writer,'Long_Break')
long_break_exception.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>username</th>
      <th>code</th>
      <th>duration</th>
      <th>ten_hours_shift</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>410</th>
      <td>2018-04-05</td>
      <td>gacevedonune</td>
      <td>Break</td>
      <td>2018-04-19 00:20:51</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>422</th>
      <td>2018-04-06</td>
      <td>gacevedonune</td>
      <td>Break</td>
      <td>2018-04-19 00:25:09</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1544</th>
      <td>2018-04-08</td>
      <td>tstephens</td>
      <td>Break</td>
      <td>2018-04-19 00:20:52</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1550</th>
      <td>2018-04-09</td>
      <td>tstephens</td>
      <td>Break</td>
      <td>2018-04-19 00:21:22</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1556</th>
      <td>2018-04-09</td>
      <td>tstephens</td>
      <td>Break</td>
      <td>2018-04-19 00:20:41</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
</div>

In [255]:
# Graph information
% matplotlib inline
#long_break_exception.username.value_counts().plot(kind='bar')

In [256]:
unscheduled_picklist_exception = df[(df.code == 'Unscheduled Picklist') & (df.duration > unscheduled_picklist)]
unscheduled_picklist_exception.loc[:,['date','username','code','duration']].to_excel(writer,'Unscheduled_Picklist')
unscheduled_picklist_exception.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>username</th>
      <th>code</th>
      <th>duration</th>
      <th>ten_hours_shift</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>477</th>
      <td>2018-04-05</td>
      <td>hmorkos</td>
      <td>Unscheduled Picklist</td>
      <td>2018-04-19 00:17:09</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>513</th>
      <td>2018-04-11</td>
      <td>hmorkos</td>
      <td>Unscheduled Picklist</td>
      <td>2018-04-19 00:18:40</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>542</th>
      <td>2018-04-13</td>
      <td>hmorkos</td>
      <td>Unscheduled Picklist</td>
      <td>2018-04-19 00:16:14</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>565</th>
      <td>2018-04-03</td>
      <td>ivgonzalez</td>
      <td>Unscheduled Picklist</td>
      <td>2018-04-19 00:17:00</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>839</th>
      <td>2018-04-05</td>
      <td>kborgesrios</td>
      <td>Unscheduled Picklist</td>
      <td>2018-04-19 00:30:47</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [257]:
# Graph information
% matplotlib inline
#unscheduled_picklist_exception.username.value_counts().plot(kind='bar')

In [258]:
writer.save()