In [ ]:
import pandas as pd

df_cols = ['date','username','code','duration']
df = pd.read_csv('agent_detail.csv', usecols=[0,1,5,6], names=df_cols, header=0, index_col=1)
df['duration']= pd.to_datetime(df.duration)

short_break = pd.to_datetime('00:15:30')
long_break = pd.to_datetime('00:20:30')
unscheduled_picklist = pd.to_datetime('00:15:30')

df.loc[(df.code == 'Break') & (df.duration > short_break),:]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>code</th>
      <th>duration</th>
    </tr>
    <tr>
      <th>username</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>apagangarcia</th>
      <td>2018-04-04</td>
      <td>Break</td>
      <td>2018-04-17 00:44:52</td>
    </tr>
    <tr>
      <th>apagangarcia</th>
      <td>2018-04-09</td>
      <td>Break</td>
      <td>2018-04-17 00:26:57</td>
    </tr>
    <tr>
      <th>apagangarcia</th>
      <td>2018-04-10</td>
      <td>Break</td>
      <td>2018-04-17 00:15:46</td>
    </tr>
    <tr>
      <th>carmas</th>
      <td>2018-04-05</td>
      <td>Break</td>
      <td>2018-04-17 00:15:42</td>
    </tr>
    <tr>
      <th>carmas</th>
      <td>2018-04-05</td>
      <td>Break</td>
      <td>2018-04-17 00:20:56</td>
    </tr>
    <tr>
      <th>carmas</th>
      <td>2018-04-13</td>
      <td>Break</td>
      <td>2018-04-17 00:24:06</td>
    </tr>
    <tr>
      <th>ccruz</th>
      <td>2018-04-02</td>
      <td>Break</td>
      <td>2018-04-17 00:15:52</td>
    </tr>
    <tr>
      <th>ccruz</th>
      <td>2018-04-03</td>
      <td>Break</td>
      <td>2018-04-17 00:15:52</td>
    </tr>
    <tr>
      <th>ccruz</th>
      <td>2018-04-03</td>
      <td>Break</td>
      <td>2018-04-17 00:15:34</td>
    </tr>
    <tr>
      <th>ccruz</th>
      <td>2018-04-10</td>
      <td>Break</td>
      <td>2018-04-17 00:15:40</td>
    </tr>
    <tr>
      <th>gacevedonune</th>
      <td>2018-04-05</td>
      <td>Break</td>
      <td>2018-04-17 00:20:51</td>
    </tr>
    <tr>
      <th>gacevedonune</th>
      <td>2018-04-06</td>
      <td>Break</td>
      <td>2018-04-17 00:20:03</td>
    </tr>
    <tr>
      <th>gacevedonune</th>
      <td>2018-04-06</td>
      <td>Break</td>
      <td>2018-04-17 00:25:09</td>
    </tr>
    <tr>
      <th>hmorkos</th>
      <td>2018-04-03</td>
      <td>Break</td>
      <td>2018-04-17 00:18:35</td>
    </tr>
    <tr>
      <th>hmorkos</th>
      <td>2018-04-06</td>
      <td>Break</td>
      <td>2018-04-17 00:15:38</td>
    </tr>
    <tr>
      <th>hmorkos</th>
      <td>2018-04-12</td>
      <td>Break</td>
      <td>2018-04-17 00:16:17</td>
    </tr>
    <tr>
      <th>ivgonzalez</th>
      <td>2018-04-02</td>
      <td>Break</td>
      <td>2018-04-17 00:16:51</td>
    </tr>
    <tr>
      <th>ivgonzalez</th>
      <td>2018-04-04</td>
      <td>Break</td>
      <td>2018-04-17 00:17:40</td>
    </tr>
    <tr>
      <th>ivgonzalez</th>
      <td>2018-04-04</td>
      <td>Break</td>
      <td>2018-04-17 00:15:59</td>
    </tr>
    <tr>
      <th>ivgonzalez</th>
      <td>2018-04-10</td>
      <td>Break</td>
      <td>2018-04-17 00:16:17</td>
    </tr>
    <tr>
      <th>ivgonzalez</th>
      <td>2018-04-11</td>
      <td>Break</td>
      <td>2018-04-17 00:16:21</td>
    </tr>
    <tr>
      <th>ivgonzalez</th>
      <td>2018-04-13</td>
      <td>Break</td>
      <td>2018-04-17 00:15:55</td>
    </tr>
    <tr>
      <th>jmatos</th>
      <td>2018-04-03</td>
      <td>Break</td>
      <td>2018-04-17 00:16:08</td>
    </tr>
    <tr>
      <th>jmatos</th>
      <td>2018-04-05</td>
      <td>Break</td>
      <td>2018-04-17 01:02:44</td>
    </tr>
    <tr>
      <th>kborgesrios</th>
      <td>2018-04-03</td>
      <td>Break</td>
      <td>2018-04-17 01:12:34</td>
    </tr>
    <tr>
      <th>kborgesrios</th>
      <td>2018-04-06</td>
      <td>Break</td>
      <td>2018-04-17 00:15:57</td>
    </tr>
    <tr>
      <th>kborgesrios</th>
      <td>2018-04-10</td>
      <td>Break</td>
      <td>2018-04-17 00:16:12</td>
    </tr>
    <tr>
      <th>mchengaou</th>
      <td>2018-04-02</td>
      <td>Break</td>
      <td>2018-04-17 00:15:38</td>
    </tr>
    <tr>
      <th>mchengaou</th>
      <td>2018-04-03</td>
      <td>Break</td>
      <td>2018-04-17 00:16:23</td>
    </tr>
    <tr>
      <th>mchengaou</th>
      <td>2018-04-11</td>
      <td>Break</td>
      <td>2018-04-17 00:16:21</td>
    </tr>
    <tr>
      <th>pkinser</th>
      <td>2018-04-02</td>
      <td>Break</td>
      <td>2018-04-17 00:15:37</td>
    </tr>
    <tr>
      <th>pkinser</th>
      <td>2018-04-02</td>
      <td>Break</td>
      <td>2018-04-17 00:15:55</td>
    </tr>
    <tr>
      <th>pkinser</th>
      <td>2018-04-03</td>
      <td>Break</td>
      <td>2018-04-17 00:15:55</td>
    </tr>
    <tr>
      <th>pkinser</th>
      <td>2018-04-09</td>
      <td>Break</td>
      <td>2018-04-17 00:16:04</td>
    </tr>
    <tr>
      <th>sacevedo</th>
      <td>2018-04-02</td>
      <td>Break</td>
      <td>2018-04-17 00:15:58</td>
    </tr>
    <tr>
      <th>sacevedo</th>
      <td>2018-04-14</td>
      <td>Break</td>
      <td>2018-04-17 00:15:34</td>
    </tr>
    <tr>
      <th>scretu</th>
      <td>2018-04-04</td>
      <td>Break</td>
      <td>2018-04-17 00:16:21</td>
    </tr>
    <tr>
      <th>scretu</th>
      <td>2018-04-06</td>
      <td>Break</td>
      <td>2018-04-17 00:30:30</td>
    </tr>
    <tr>
      <th>scretu</th>
      <td>2018-04-07</td>
      <td>Break</td>
      <td>2018-04-17 00:29:35</td>
    </tr>
    <tr>
      <th>smata</th>
      <td>2018-04-06</td>
      <td>Break</td>
      <td>2018-04-17 00:30:17</td>
    </tr>
    <tr>
      <th>smata</th>
      <td>2018-04-07</td>
      <td>Break</td>
      <td>2018-04-17 00:29:47</td>
    </tr>
    <tr>
      <th>smata</th>
      <td>2018-04-07</td>
      <td>Break</td>
      <td>2018-04-17 00:15:34</td>
    </tr>
    <tr>
      <th>tstephens</th>
      <td>2018-04-02</td>
      <td>Break</td>
      <td>2018-04-17 00:20:02</td>
    </tr>
    <tr>
      <th>tstephens</th>
      <td>2018-04-02</td>
      <td>Break</td>
      <td>2018-04-17 00:19:56</td>
    </tr>
    <tr>
      <th>tstephens</th>
      <td>2018-04-03</td>
      <td>Break</td>
      <td>2018-04-17 00:19:55</td>
    </tr>
    <tr>
      <th>tstephens</th>
      <td>2018-04-03</td>
      <td>Break</td>
      <td>2018-04-17 00:19:48</td>
    </tr>
    <tr>
      <th>tstephens</th>
      <td>2018-04-04</td>
      <td>Break</td>
      <td>2018-04-17 00:20:01</td>
    </tr>
    <tr>
      <th>tstephens</th>
      <td>2018-04-04</td>
      <td>Break</td>
      <td>2018-04-17 00:19:55</td>
    </tr>
    <tr>
      <th>tstephens</th>
      <td>2018-04-05</td>
      <td>Break</td>
      <td>2018-04-17 00:20:01</td>
    </tr>
    <tr>
      <th>tstephens</th>
      <td>2018-04-08</td>
      <td>Break</td>
      <td>2018-04-17 00:20:52</td>
    </tr>
    <tr>
      <th>tstephens</th>
      <td>2018-04-09</td>
      <td>Break</td>
      <td>2018-04-17 00:21:22</td>
    </tr>
    <tr>
      <th>tstephens</th>
      <td>2018-04-09</td>
      <td>Break</td>
      <td>2018-04-17 00:20:41</td>
    </tr>
    <tr>
      <th>tstephens</th>
      <td>2018-04-10</td>
      <td>Break</td>
      <td>2018-04-17 00:20:06</td>
    </tr>
    <tr>
      <th>tstephens</th>
      <td>2018-04-10</td>
      <td>Break</td>
      <td>2018-04-17 00:19:55</td>
    </tr>
    <tr>
      <th>tstephens</th>
      <td>2018-04-11</td>
      <td>Break</td>
      <td>2018-04-17 00:19:52</td>
    </tr>
    <tr>
      <th>tstephens</th>
      <td>2018-04-11</td>
      <td>Break</td>
      <td>2018-04-17 00:19:40</td>
    </tr>
    <tr>
      <th>tstephens</th>
      <td>2018-04-12</td>
      <td>Break</td>
      <td>2018-04-17 00:20:05</td>
    </tr>
    <tr>
      <th>tstephens</th>
      <td>2018-04-15</td>
      <td>Break</td>
      <td>2018-04-17 00:20:08</td>
    </tr>
  </tbody>
</table>
</div>